echo streamlit > requirements.txt
echo pandas >> requirements.txt
echo numpy >> requirements.txt
echo plotly >> requirements.txt
echo scikit-learn >> requirements.txt
echo shap >> requirements.txt
echo fpdf >> requirements.txt
echo xlsxwriter >> requirements.txt